.blue{
  background-color: blue;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
}
.red{
  background-color: red;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  color: white;
}
.flex{
  display: flex;
  justify-content: center;
}